/*Selectores*/
/*Selector de elemento*/
h1 {
    text-align: center;
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

h1[role="titulo"] {
    font-size: 60px;
    color: black;
}

/*Selector de clase*/
.titulo{
    color: red;
    font-size: 30px;
    background-color: aqua;
}

.big_table{
    font-size: 30px;
    border-style: solid ;
}

/*Selectores de Id*/
#titulo_huawey{
    color: yellow;
}

#div_temas{
    display: none;
}

.productos_laptop{
    border: 2px solid red;
    border-radius: 18px;
    padding: 10px;
    margin: 20px;
}

.productos_laptop:hover{
    border-color: red;
    box-shadow: 10px 0px 10px red;
    cursor: grab;
}

.productos_laptop:hover > img{
    opacity: 50%;
}

.productos_celular:hover{
    border-color: blue;
    box-shadow: 10px 0px 10px blue;
    cursor: grab;
}

.productos_celular:hover > img{
    opacity: 50%;
}

.productos_celular{
    border: 2px solid blue;
    border-radius: 18px;
    padding: 10px;
    margin: 20px;
}

.productos_audifono{
    border: 2px solid brown;
    border-radius: 18px;
    padding: 10px;
    margin: 20px;
}

.laptop > h2{
    font-family: 'Segoe UI';
    font-style: italic;
    color: blue;
}

.celular > h2{
    font-family: 'Segoe UI';
    font-style: italic;
}

.div_form{
    width: 400px;
    margin: 20px auto;
}

.div_form > form > input{
    height: 40px;
    border-radius: 20px;
    width: 70%;
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.div_form > form > input:focus{
    color: black;
}

/*pseudo elementos*/
.price:before{
    content: "$  ";
}

.price:after{
    content: ".00";
}